html, body, #app {
  height: 100%;
  margin: 0;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.el-menu-vertical-demo {
  border-right: none;
}

/* Responsive tweaks */
@media (max-width: 700px) {
  .app-aside {
    display: none;
  }
}

.el-card {
  padding: 20px;
}
